.social {
    grid-area: social;
    padding: 0 100px;
    min-height: 30px;
    min-width: 100%;
    background: rgba(44,42,39, 0.8);  
    display: flex; 
    justify-content: space-between; 
}


.soicons{
    display: inline-flex;
    justify-content: space-around;
    padding: 8px 0 8px 0;
    max-width: 300px;
    min-width: 30%;
}

.icon {
    color: #4396a3;
}

.icon:hover {
       color: darkcyan;
}

.contacts{
    margin: 0 20px 0 50px;
    display: inline-flex;
    position: relative;
    min-width: 30%;
    color: #c6d9ec;
}

.contacts:hover{
    cursor: pointer;
    color: #F6F9FC;
}

.email{
    margin: 0 10px;
    line-height: 30px;
    font-size: .8rem;
}
.email:hover{
    font-style: italic;
}

.phone{
    margin: 0 10px;
    line-height: 30px;
    font-size: .8rem;
}
.phone:hover{
    font-style: italic;
}