

header {
    grid-area: h;
    font-size: 20px;
    grid-area: h;
 
}
img{
    height: 50px;
    width: 50px;
    display: inline;
    margin-left: 20px;
    margin-right: 40px;
    
}



span {
    margin: 0 30px 0 30px;
    display: inline-flex;
    justify-self: right;
}