
header {
    height: 45px;
    grid-area: h;
    font-size: 18px;
    line-height: 45px;
    padding: 0 100px;
    margin: 10px 0 20px 0;
    
}

.container{
    width: 100%;
    border-bottom: 1px solid rgb(70, 70, 67);
    display: flex;
    justify-content: space-between; 
}

.logo{
    font-size: 30px;
    letter-spacing: 0.001em;
}

.logo:hover{
    cursor: pointer;
}
.logo span{
    color: rgb(255, 174, 0);
}
.logo img{
    height: 30px;
    width: 30px;
    margin: 0 4px 0 20px;
}


.menu{
    font-size: 15px;
}

.menu span {
    margin: 0 30px 0 30px;
    display: inline-flex;
    justify-self: right;
}
.menu span:hover{
    cursor: pointer;
    color: rgb(255, 174, 0);
}